


<div class="block glow rounded container glow-container">
    <div class="row text-center p-5">
        <div class="col-lg-4 col-12 d-flex">
            <h1 id="intro-logo" class="m-auto">
                <img width="150" height="150" src="./assets/icons/vite-icon.svg" alt="Vite Icon">
            </h1>
        </div>
        <div class="col-lg-8 col-12">
            <h1 class="cooltext">Welcome!</h1>

            <p class="cooltext">This is my cool static website starter powered by Vite.</p>

            <p class="cooltext">
                For more info on how to get started, visit my
                <a class="btn-link" href="./about.html">about page</a>.
            </p>
        </div>
    </div>

</div>