
<div class="col-12 rounded m-auto">
    <img class="dev-svg" src="./assets/icons/gulp-icon.svg" alt="Gulp">
    <img class="dev-svg" src="./assets/icons/handlebars-icon.svg" alt="Handlebars">
    <img class="dev-svg" src="./assets/icons/sass-icon.svg" alt="Sass">
    <img class="dev-svg" src="./assets/icons/tailwinds-icon.svg" alt="Tailwinds">
    <img class="dev-svg" src="./assets/icons/typescript-icon.svg" alt="TS">
    <img class="dev-svg" src="./assets/icons/javascript-icon.svg" alt="JS">
    <img class="dev-svg" src="./assets/icons/css-icon.svg" alt="CSS">
    <img class="dev-svg" src="./assets/icons/bootstrap-icon.svg" alt="Bootstrap">
    <img class="dev-svg" src="./assets/icons/vite-icon.svg" alt="Vite">
</div>
