<div class="block glow rounded container glow-container">
	<div class="row text-center p-4">
		<div class="col-lg-4 col-12 d-flex">
			{{> icons-area}}
		</div>
		<div class="col-lg-8 col-12">
			<h1 class="cooltext">Spark</h1>

			<p class="cooltext">
				Welcome to my simple static website builder. It's powered by Vite.
            </p>

			<div class="offset-4 col-4 d-flex justify-content-center">
				<div class="col">
					<a href="https://github.com/cjherold/Spark" class="cooltext">
						<img class="link-svg" src="./assets/icons/github-icon.svg" alt="Github">
					</a>

				</div>
				<div class="col">
					<a href="https://www.linkedin.com/in/cjherold/" class="cooltext">
						<img class="link-svg" src="./assets/icons/linkedin-icon.svg" alt="Linkedin">
					</a>

				</div>
			</div>

		</div>
	</div>
</div>