<div class="block glow rounded container glow-container">
	<div class="row text-center p-lg-4 p-2">
		<div class="col-lg-4 col-12 d-flex">
			{{> icons-area}}
		</div>
		<div class="col-lg-8 col-12">
			<h1 class="cooltext intro-title">
				<img width="80" heigh="80" src="./assets/img/spark-logo-notext.png" class="rounded-circle" alt="Spark logo symbol">
				Spark
			</h1>

			<p class="cooltext-green">
				Welcome to my website starter. It's powered by Vite, and works great with Sass, Handlebars, Typescript and more. For more detailed documentation, visit my Github page. Enjoy!
            </p>

		</div>
	</div>
</div>