<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand cooltext p-2" href="./">
            <img width="30" height="30" src="./assets/icons/vite-icon.svg" alt="Vite Icon">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item cooltext">
                <a class="nav-link  btn" aria-current="page" href="./about.html">About</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link cooltext btn" href="#">Documentation</a>
            </li> -->
            <li>
                <a href="https://github.com/cjherold/Spark" class="cooltext">
                    <img class="link-svg" src="./assets/icons/github-icon.svg" alt="Github">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/cjherold/" class="cooltext">
                    <img class="link-svg" src="./assets/icons/linkedin-icon.svg" alt="Linkedin">
                </a>
            </li>


        </ul>
        </div>
    </div>
</nav>