$blue-purple: linear-gradient(20deg, #22b6c3 0%, #2dfd6a 81%);
$purple-blue: linear-gradient(20deg, #2dfd6a 0%, #22b6c3 81%);
$glow-colors: linear-gradient(45deg,
    #22b6c3,
    #2dfd6a,
    #22b6c3,
    #2dfd6a
);

body {
    background-color: #1a1a1a;
    // background-color: black;
}

// Thanks to "Techie Coder" on youtube for the glowing card idea
.glow-container {
    position: relative;
    background: #1a1a1a;
    // background: black;
    margin-top: 20%;
    max-width: 800px;
}

.glow::before, .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 0.25rem;
    background: $glow-colors;
    background-size: 120%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow::after {
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 30% 0;
    }
}


.cooltext {
	background: linear-gradient(20deg, #4b62ff 0%, #7114cb 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}