@import './common.scss';
@import './navbar.scss';

@keyframes animate {
    0% {
        background-position: 40% 100%;
    }
    50% {
        background-position: 300% 200%;
    }
    100% {
        background-position: 30% 0;
    }
}


