
.container {
    max-width: 900px;
}
h1 {
    font-size: 4rem;
}
p {
    font-size: 1rem;
}

@keyframes animate {
    0% {
        background-position: 40% 100%;
    }
    50% {
        background-position: 300% 200%;
    }
    100% {
        background-position: 30% 0;
    }
}

.btn-custom {
    border: 1px solid #2dfd6a;
    color: #fff;
    &:hover {
        border: none;
        background-color: #2dfd6a;
    }
}


@media only screen and (max-width: 600px) {
    .container {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}