.navbar {
    .cooltext {
        &:hover {
            background: linear-gradient(20deg, #22b6c3 0%, #2dfd6a 81%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .navbar-brand:hover {
        transform: scale(1.2);
        transition: 0.2s ease-in-out;
    }
}